html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	
}

img { 
	display: block;
	max-width: 100%;
	height: auto;
}

{
	.container {
		display: flex;
		flex-direction: column;
		max-width: 960px;
		min-height: 600px;
		padding: 10px;
		margin: 10px auto;
		box-shadow: 0 0 2px 3px rgb(119, 119, 119);
	}
	
	header {
	 /* min-height: 50px; */
	 flex-basis: 50px;
	 background-color: orange;
	}
	
	main {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.one {
		background-color: blue;
		flex-basis: 54.16667%;
	}
	
	.two, .three {
		flex-basis: 20.83333%;
	}
	
	.two {
		background-color: violet;
	}
	
	.three {
		background-color: red;
	}
	
	footer {
		flex-basis: 50px;
		background-color: green;
	}
}

{
	.container {
		display: flex;
		margin: 0 auto;
		width: 300px;	
		flex-direction: column;
		min-height: 200px;
	}
	
	.box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}
	
	.content {
		background-color: palegoldenrod;
	}
	
	.sidebar {
		background-color: lightgreen;
	}
	
	@media screen and (min-width:768px) {
		.container {
			flex-direction: row;
		}
	
		.content {
			flex-grow: 4;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px;
	width: 420px;	
	min-height: 350px;
	background-color: #ababab;
}

.box {
	min-height: 100px;
}


.red {
	background-color: #f00;
}

.green {
	background-color: #0f0;
}

.blue {
	background-color: #00f;
}

@media screen and (min-width: 768px) {
	.container {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.red {
		height: 100px;
		flex-basis: 100%;
		margin-bottom: 10px;
	}

	.green {
		flex-basis: 80%;
	}

	.blue {
		flex-basis: calc(20% - 10px);
	}
}












