.image-container {
  position: relative;
  margin-bottom: 27px;
}

.team-member__name {
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: map-get($font-weights, regular);
  text-transform: uppercase;
  text-align: center;
}

.team-member__occupation {
  margin: 0;
  font-family: $secondary-font-stack;
  font-size: 15px;
  font-weight: map-get($font-weights, light);
  font-style: italic;
  line-height: map-get($line-heights, bigger);
  text-align: center;
  color: map-get($colors, secondary-dark);
}
